.contact {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.name {
  padding-left: 21px;
}

.message input {
  height: 300px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


button {

  align-items: center;
  display: inline-block;
  margin-bottom: 100px;
}
